<?xml version="1.0"?>
  <launch>

    <!-- Optionally launch in GDB, for debugging -->
    <arg name="debug" default="false" />
    <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />

    <!-- VESC driver parameters -->
    <arg name="can_interface" default="can0" />
    <!-- <arg name="can_dev_id" default="75" /> -->

    

    <!-- VESC driver node -->
    <node pkg="vesc_driver" type="vesc_driver_node" name="motor_a" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="can_interface" value="$(arg can_interface)" />
      <param name="can_dev_id" value="88" />
      <!-- <param name="num_motor_pole_pairs" value="$(arg num_motor_pole_pairs)" /> -->
    </node>
    
    <node pkg="vesc_driver" type="vesc_driver_node" name="motor_b" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="can_interface" value="$(arg can_interface)" />
      <param name="can_dev_id" value="235" />
      <!-- <param name="num_motor_pole_pairs" value="$(arg num_motor_pole_pairs)" /> -->
    </node>
    


    <node pkg="vesc_driver" type="vesc_driver_node" name="motor_c" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="can_interface" value="$(arg can_interface)" />
      <param name="can_dev_id" value="155" />
      <!-- <param name="num_motor_pole_pairs" value="$(arg num_motor_pole_pairs)" /> -->
    </node>
    
    

    <node pkg="vesc_driver" type="vesc_driver_node" name="motor_d" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="can_interface" value="$(arg can_interface)" />
      <param name="can_dev_id" value="162" />
      <!-- <param name="num_motor_pole_pairs" value="$(arg num_motor_pole_pairs)" /> -->
    </node>
    
    <?ignore
    
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
    ?>
    
    
    <node pkg="vesc_driver" type="vesc_driver_node" name="motor_1" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="can_interface" value="$(arg can_interface)" />
      <param name="can_dev_id" value="120" />
      <!-- <param name="num_motor_pole_pairs" value="$(arg num_motor_pole_pairs)" /> -->
    </node>
 

    <node pkg="vesc_driver" type="vesc_driver_node" name="motor_2" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="can_interface" value="$(arg can_interface)" />
      <param name="can_dev_id" value="4" />
      <!-- <param name="num_motor_pole_pairs" value="$(arg num_motor_pole_pairs)" /> -->
    </node>

    <node pkg="vesc_driver" type="vesc_driver_node" name="motor_3" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="can_interface" value="$(arg can_interface)" />
      <param name="can_dev_id" value="100" />
      <!-- <param name="num_motor_pole_pairs" value="$(arg num_motor_pole_pairs)" /> -->
    </node>
    

    <node pkg="vesc_driver" type="vesc_driver_node" name="motor_4" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="can_interface" value="$(arg can_interface)" />
      <param name="can_dev_id" value="63" />
      <!-- <param name="num_motor_pole_pairs" value="$(arg num_motor_pole_pairs)" /> -->
    </node>

  </launch>
